{% extends '::base.html.twig' %}

{% block body -%}
    <h1>City list</h1>

    <table class="records_list" border=2>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Info</th>
                <th>Tours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city,tours in entities %}
            <tr>
                <td><a href="{{ path('city_show', { 'id': loop.index }) }}">{{ loop.index }}</a></td>
                <td>{{ city }}</td>
                <td>{{ city }}</td>
                <td>Tours (in progress)
                <ul>
				{% for tour in tours %}  
                    <li>
                        <a href="{{ path('tour_show', { 'id': loop.index }) }}">{{tour}}</a>
                    </li>
                {% endfor %}
                </ul>
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('city_show', { 'id': loop.index }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('city_edit', { 'id': loop.index }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('city_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
